<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Oranburg Executive</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.oranburg.executive</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateHeaderFile</key>
	<string>header</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateHeaderHeight</key>
	<integer>50</integer>
	<key>IATemplateFooterHeight</key>
	<integer>30</integer>
	<key>IATemplateDescription</key>
	<string>Casebook format. 7x10 Executive trim for Lulu. Wider text block for case excerpts and two-column layouts. For law school casebooks.</string>
	<key>IATemplateAuthor</key>
	<string>Seth C. Oranburg</string>
	<key>IATemplateAuthorURL</key>
	<string>https://oranburg.github.io</string>
</dict>
</plist>
